

body{
    margin: 0;
    padding: 0;
}
.header-bar h2{
    padding: 4px 8px 4px 15px;
    font-size: 20px;
    position: relative;
    left: 200px;
    width: 100%; 
}
.header-bar {
    background-color: #f3f1f1;
    box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.6);
}
.header-bar h2{
    margin: 0;
    padding: 0;
}

.header-bar #notification {
    display: -ms-inline-flexbox;
    height: 20px;
    width: 25px;
    position: relative;
    left: 1000px;
}
.header-bar #message {
    display: -ms-inline-flexbox;
    height: 20px;
    width: 25px;
    position: relative;
    left: 1005px;
}

.header-bar #question {
    display: -ms-inline-flexbox;
    height: 20px;
    width: 25px;
    position: relative;
    left: 1010px;
}

.header-bar #tools {
    display: -ms-inline-flexbox;
    height: 20px;
    width: 25px;
    position: relative;
    left: 1015px;
}


.header-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dbd6d6;
  }
  
  .header-bar li {
    float: left;
  }

  .sign-in {
    display: -ms-inline-flexbox;
    color: rgb(10, 176, 241);
    padding-top: 0px;
    left: 1020px;
    color: rgb(10, 176, 241);
    position: relative;
    bottom: 2px;
    top: 8px;
}

.sign-up {
    display: -ms-inline-flexbox;
    font-size: 13px;
    background-color: blue;
    color: rgb(5, 224, 253);
    border-radius: 25px;
    position: relative;
    left:1025px;
    bottom: 2px;
    top: 8px;

}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(168, 164, 164);
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav h3 {
    padding: 0px 8px 0px 15px;
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    color: #161515;
    display: block;
  }

  .sidenav a {
    display: flex;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #070707;
    display: block;
}

.sidenav a:hover {
    color: #293ef6;
}

.sidenav a img {
    height: 20px;
    width: 20px;
    padding-left: 2px;
}

.basic-layout h2{
    color: black;
    position: relative;
    left: 20%;
}
  
.greetings{
    background-color: rgb(255, 251, 251);
    box-shadow: 2px 2px 5px 2px rgb(172, 163, 163) ;
    position: relative;
    left: 20%;
    width: 20%;
}
.greetings h4{
    margin: 2%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 5%;
    padding: 4px;
}
.greetings p1{
    margin: 0%;
    top:4px;
    color: rgb(36, 33, 34);
    position: relative;
    left: 5%;
    padding: 4px;
}

#greet{
    margin: 2%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 20%;
    padding: 4px;
    bottom: 61px;
}
#name{
    margin: 0%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 22%;
    padding: 4px;
    bottom: 61px;
}
#time{
    margin: 0%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 7%;
    padding: 4px;
    bottom: 40px;
}

/* .greetingsA{
    background-color: rgb(255, 251, 251);
    box-shadow: 2px 2px 5px rgb(172, 163, 163) ;
    position: relative;
    left: 45%;
    width: 20%;
} */
.greetingsA h4{
    margin: 2%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 5%;
    padding: 4px;
}
.greetingsA p1{
    margin: 0%;
    top:4px;
    color: rgb(36, 33, 34);
    position: relative;
    left: 5%;
    padding: 4px;
}

#greetA{
    margin: 2%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 20%;
    padding: 4px;
    bottom: 61px;
}
#nameA{
    margin: 0%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 22%;
    padding: 4px;
    bottom: 61px;
}
#timeA{
    margin: 0%;
    color: rgb(36, 33, 34);
    position: relative;
    left: 7%;
    padding: 4px;
    bottom: 40px;
}