*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p1{
    font-size: 20px;
}
.header-bar {
    background-color: #f3f1f1;
    box-shadow: 2px 2px 5px rgba(119, 118, 118, 0.6);
}

.header-bar #a {
    display: -ms-inline-flexbox;
    height: 20px;
    width: 25px;
}



